**
 * HW-WireFrame
 **/

* {
    box-sizing: border-box;
    border-style: solid;
}

.wrapper {
    align-content: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: 0 auto;
}

.header {
    background: #ebebeb;
    text-align: center;
    margin: 15px;
    padding: 15px;
    /* height: 40px; */
}

.nav {
    background: #ebebeb;
    text-align: center;
    margin: 15px;
    padding: 15px;
    /* height: 40px; */
}

.section {
    background: #ebebeb;
    text-align: center;
    width: 52.5%;
    /* height: 270px; */
    margin: 15px;
    padding: 10px;
    float: left;
}

.aside {
    background: #ebebeb;
    text-align: center;
    width: 37%;
    height: 320px;
    margin: 15px;
    padding: 10px;
    float: right;
}

.article {
    background: #777;
    color: #ebebeb;
    text-align: center;
    width: 95%;
    /* height: 210px; */
    margin: 10px;
    padding:5px;
}

.hs {
    background: #ebebeb;
    text-align: center;
    width: 95%;
    /* height: 55px; */
    margin: 7.5px;
    padding: 2.5px;
    color: #777;
}

.p {
    background: #ebebeb;
    text-align: center;
    width: 95%;
    /* height: 55px; */
    margin: 7.5px;
    padding: 2.5px;
    color: #777;
}

.footer {
    background: #ebebeb;
    text-align: center;
    margin: 10px;
    padding: 10px;
    /* height: 40px; */

}
.clearfix {
    clear: both;
}